@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

$color-primary-white: #F7F8FC;
$color-very-light-green: #E2F8F6;
$color-light-green: #96F9BA;
$color-warning: #ffbb55;
$color-teal-green: #1DA192;
$color-dark-teal: #296678;
$color-info-light: #dce1eb;
$color-primary-text: #133039;
$color-light-grey: #52607A;
$color-text-black: #535A60;
$container-lg: 82%;
$container-md: 90%;
