html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: $color-primary-text;
    background: $color-very-light-green;
    user-select: none;
}

.container {
    width: $container-lg;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

section {
    margin-top: 6rem;

    & > h2 {
        text-align: center;
    }

    & > p {
        text-align: center;
        width: 42%;
        margin: 0.6rem auto 2.5rem;
    }
}

.login__btn {
    @include button();
}

.btn-primary {
    @include button($color-primary-white, $color-primary-text)
}

/*============================ MEDIA QUERIES (TABLET) =============================*/

@media screen and (max-width: 1024px) {
    .container {
        width: $container-md;
    } 
    
    section {
        & > p {
            width: 55%;
        }
    }
}

/*============================ MEDIA QUERIES (MOBILE) =============================*/

@media screen and (max-width: 600px) {
    section {
        & > p {
            width: $container-md;
        }
    }
}