nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    z-index: 10;
    display: grid;
    place-items: center;

    .container {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 3rem;
            align-items: center;
        }

        /* USED IN RESPONSIVE VIEWS */
        .open__btn, .close__btn {
            display: none;
        }

        a {
            font-family: 'roboto', sans-serif;
            font-weight: 500;
            font-size: 1.2rem;
            color: $color-text-black;

            &:hover, :active {
                color: $color-teal-green;
            }
        }

        .nav__logo {
            display: flex;
            align-items: center;
            color: $color-primary-text;
        }
    }
}

/*============================ MEDIA QUERIES (TABLET) =============================*/

@media screen and (max-width: 1024px) {
    nav {
        .container {
            .open__btn, .close__btn {
                display: inline-block;
                background: transparent;
                color: $color-dark-teal;
                font-size: 2rem;
                cursor: pointer;

                &#close__nav-btn {
                    display: none;
                }
            }

            ul {
                position: fixed;
                right: 5%;
                top: 5rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 0;
                display: none;

                li {
                    width: 100%;

                    a {
                        color: $color-primary-white;
                        height: 100%;
                        display: block;
                        padding: 1.5rem 2rem;
                        border-radius: 0;
                        background: linear-gradient($color-teal-green, darken($color-teal-green, 10%));

                        &:hover, :active {
                            color: $color-text-black;
                        }
                    }
                }
            }

            .login__btn {
                position: fixed;
                right: 5%;
                top: 20rem;
                flex-direction: column;
                align-items: flex-start;
                display: none;
            }
        }
    }   
}